asyncpg==0.31.0
fastapi==0.141.1
faststream[cli,rabbit]==0.7.3
httpx==0.28.1
pydantic==2.13.4
pydantic-settings==2.14.2
python-dotenv==1.2.2
SQLAlchemy[asyncio]==2.0.51
uvicorn==0.52.0
alembic==1.18.5
